@using EarlySite.Model.Show;
@using EarlySite.Model.Common;
@using EarlySite.Model.Enum;
@{
    ViewBag.Title = "EarlySite | Home";
}

<div class="header-banner">
    <a href="https://www.bilibili.com/blackboard/join-list.html" target="_blank" class="banner-href"></a>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="mapContainer" class="row corner" style="height:0px;padding-bottom:20%">
            </div>
        </div>
    </div>
    <div class="row corner">
        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">今日食</a>
            </div>
            <div class="warrper-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        当前时间:<span id="currentdate" class="badge">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span><br />
                        现在是 @Enum.GetName(typeof(MealTime), ViewBag.Meal) 时间
                        根据你的喜好，挑选今天的菜单。
                    </div>
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <!--用餐时间-->
                        <label class="col-sm-1 control-label">用餐时间</label>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Enum.GetName(typeof(MealTime), ViewBag.Meal) <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @{
                                        foreach (var item in Enum.GetNames(typeof(MealTime)))
                                        {
                                            <li><a href="javascript:alert(@(((MealTime)Enum.Parse(typeof(MealTime), item)).GetHashCode()))">@item</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <!--口味类型-->
                        <label class="col-sm-1 control-label">口味类型</label>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Enum.GetName(typeof(DishType), DishType.小吃快餐) <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @{
                                        foreach (var item in Enum.GetNames(typeof(DishType)))
                                        {
                                            <li><a href="javascript:alert(@(((DishType)Enum.Parse(typeof(DishType), item)).GetHashCode()))">@item</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--用餐人数-->
                        <label class="col-sm-1 control-label">用餐人数</label>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Enum.GetName(typeof(MealsNumber), MealsNumber.一人食) <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @{
                                        foreach (var item in Enum.GetNames(typeof(MealsNumber)))
                                        {
                                            <li><a href="javascript:alert(@(((MealsNumber)Enum.Parse(typeof(MealsNumber), item)).GetHashCode()))">@item</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">查一查</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>


    </div>



    <div class="row corner">

        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">推荐单品</a>
                <span class="warrper-header-more"><a href="" class="efont">更多</a></span>
            </div>
            <div class="warrper-body">
                @{
                    Html.RenderPartial("PushDishInfoPartialView", (PageList<Dish>)ViewBag.DishList);
                }
            </div>
        </div>

        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">推荐食谱</a>
                <span class="warrper-header-more"><a href="" class="efont">更多</a></span>
            </div>
            <div class="warrper-body">
                @{
                    Html.RenderPartial("PushRecipesInfoPartialView", (PageList<Recipes>)ViewBag.RecipesList);
                }
            </div>
        </div>
    </div>


</div>

@section scripts
{

    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key=e024f773e61e96be65e2e8a4f0869774&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript">

        var scale = new AMap.Scale({
            visible: false
        }),
            toolBar = new AMap.ToolBar({
                visible: false
            }),
            overView = new AMap.OverView({
                visible: false
            }),
            map = new AMap.Map("mapContainer", {
                resizeEnable: true
            });
        map.addControl(scale);
        map.addControl(toolBar);
        map.addControl(overView);
        var geolocation;

        map.plugin('AMap.Geolocation', function () {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                buttonOffset: new AMap.Pixel(-40, -40),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                buttonPosition: 'RB'
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });
        //解析定位结果
        function onComplete(data) {

            var str = ['定位成功'];
            str.push('经度：' + data.position.getLng());
            str.push('纬度：' + data.position.getLat());
            if (data.accuracy) {
                str.push('精度：' + data.accuracy + ' 米');
            }//如为IP精确定位结果则没有精度信息
            str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
            console.log(str);
        }
        //解析定位错误信息
        function onError(data) {
            console.log('定位失败');
        }
        map.on('complete', function () {
            $('.amap-logo').css('visibility', 'hidden');
            $('.amap - copyright').css('visibility', 'hidden');
        });


        $(function () {

            //设置日期显示
            setInterval(function () {
                var time = new Date();
                // 程序计时的月从0开始取值后+1
                var m = time.getMonth() + 1;
                var month = "";
                if (m < 10) {
                    month = "0" + m;
                }
                else {
                    month = m;
                }
                var t = time.getFullYear() + "-" + month + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
                $('#currentdate').html(t);

            }, 1000);

        })



    </script>

}