@using EarlySite.Model.Common;
@using EarlySite.Model.Show;

@model PageList<Recipes>
<div class="row warrper-body-list">
    <ul class="boxlist">

        @{
            if (Model != null && Model.List != null && Model.List.Count > 0)
            {
                for (int i = 0; i < Model.List.Count; i++)
                {
                    Recipes recipe = Model.List[i];

                    <li class="boxlist-item">
                        <div class="boxlist-item_box">
                            <div class="boxlist-cover">
                                <a class="boxlist-a" href="javascript:alert(1)">
                                    <img class="boxlist-pic" src="data:image/png;base64,@recipe.Cover" alt="xxx" />
                                </a>
                            </div>
                            <div class="boxlist-title">
                                <span class="boxlist-title-txt">
                                    <a class="boxlist-a" href="javascript:alert(1)" title="@recipe.Name">@recipe.Name</a>
                                </span>
                            </div>
                            <div class="boxlist-user" title="@recipe.Phone">
                                <a class="boxlist-a" href="">@recipe.Phone</a>
                            </div>
                            <div class="boxlist-other">@recipe.UpdateDate.ToString("yyyy-MM-dd")</div>
                        </div>
                    </li>
                }

            }
            else
            {
                <h4 style="color:#808080">
                    暂无推荐菜谱
                </h4>
            }
        }
    </ul>
</div>
