@using EarlySite.Model.Enum;

<div class="panel panel-default">
    <div class="panel-body">
        当前时间:<span id="currentdate" class="badge">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span><br />
        现在是 @Enum.GetName(typeof(MealTime), ViewBag.Meal) 时间
        根据你的喜好，挑选今天的菜单。
    </div>
</div>


<div class=" row">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <!--用餐时间-->
                <label class="col-sm-2 control-label">用餐时间</label>
                <div class="col-sm-4">
                    <select id="stmealtime" class="form-control selectpicker" data-size="5">
                        @{
                        foreach (var item in Enum.GetNames(typeof(MealTime)))
                        {
                            <option value="@(((MealTime)Enum.Parse(typeof(MealTime), item)).GetHashCode())">@item</option>
                    }
                        }
                    </select>
                </div>

                <!--口味类型-->
                <label class="col-sm-2 control-label">口味类型</label>
                <div class="col-sm-4">
                    <select id="stdishtype" class="form-control selectpicker" data-size="5">
                        @{
                        foreach (var item in Enum.GetNames(typeof(DishType)))
                        {
                            <option value="@(((DishType)Enum.Parse(typeof(DishType), item)).GetHashCode())">@item</option>
                    }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <!--用餐人数-->
                <label class="col-sm-2 control-label">用餐人数</label>
                <div class="col-sm-4">
                    <select id="stmealnum" class="form-control selectpicker" data-size="5">
                        @{
                        foreach (var item in Enum.GetNames(typeof(MealsNumber)))
                        {
                            <option value="@(((MealsNumber)Enum.Parse(typeof(MealsNumber), item)).GetHashCode())">@item</option>
                    }
                        }
                    </select>
                </div>

                <!--花费等级-->
                <label class="col-sm-2 control-label">花费等级</label>
                <div class="col-sm-4">
                    <select id="stspendgrade" class="form-control selectpicker" data-size="5">
                        @{
                        foreach (var item in Enum.GetNames(typeof(SpendGrade)))
                        {
                            var spend = ((SpendGrade)Enum.Parse(typeof(SpendGrade), item)).GetHashCode();
                            <option value="@spend">@item (￥@spend 以下)</option>
                    }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="alert alert-info" role="alert">
                        <span class="label label-primary">あなたの立場</span>
                        根据处境做出选择,开启一次食物匹配之旅.
                    </div>
                </div>

            </div>

            <!--按钮-->
            <div class="form-group">
                <div class="col-sm-offset-9 col-sm-3">
                    <button id="btnsearch" type="button" class="btn btn-default">刀を抜く</button>
                </div>
            </div>
        </form>

    </div>



    <div id="todayDishView" class="col-sm-12">
        <div class="col-sm-6">
                <a href="javascript:alert('SB点我')" class="thumbnail">
                    <img src="~/Pictures/pic-05.jpg" alt="...">
                </a>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">单品信息</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">名称:黑椒牛柳</li>
                        <li class="list-group-item">菜系:川菜</li>
                        <li class="list-group-item">店铺:成都人民南路四段</li>
                        <li class="list-group-item">描述:测试单品</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(function () {

        //初始化日期
        SetDateShow();
        //加载用餐时间
        LoadMealTime();


        $("#btnsearch").click(function () {

            $(this).EaLoading();

            setTimeout(function () {

                $(this).EaLoading("destroy");

            }, 3000);
            

        });

    });

    /**
     *加载用餐时间
     */
    function LoadMealTime() {
        var mealtimeval = @(((MealTime)ViewBag.Meal).GetHashCode());
        $('#stmealtime').selectpicker('val', mealtimeval);
    }

    /**
     *设置日期显示
     */
    function SetDateShow() {
        //开一个定时器
        setInterval(function () {
            var time = new Date();
            // 程序计时的月从0开始取值后+1
            var m = time.getMonth() + 1;
            var month = "";
            if (m < 10) {
                month = "0" + m;
            }
            else {
                month = m;
            }
            var t = time.getFullYear() + "-" + month + "-"
                + time.getDate() + " " + time.getHours() + ":"
                + time.getMinutes() + ":" + time.getSeconds();
            $('#currentdate').html(t);

        }, 1000);
    }


    /**
     * 获取选择的值
     */
    function getSelecterVal() {
        return $('#stmealtime').val();
    }



</script>
