@using EarlySite.Model.Enum;

<div class="panel panel-default">
    <div class="panel-body">
        当前时间:<span id="currentdate" class="badge">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span><br />
        现在是 @Enum.GetName(typeof(MealTime), ViewBag.Meal) 时间
        根据你的喜好，挑选今天的菜单。
    </div>
</div>


<div class=" row">
    <div class="col-sm-6">
        <form class="form-horizontal">
            <div class="form-group">
                <!--用餐时间-->
                <label class="col-sm-3 control-label">用餐时间</label>
                <div class="col-sm-3">
                    <select id="stmealtime" class="form-control selectpicker" data-size="7">
                        @{
                            foreach (var item in Enum.GetNames(typeof(MealTime)))
                            {
                                <option value="@(((MealTime)Enum.Parse(typeof(MealTime), item)).GetHashCode())">@item</option>
                            }
                        }
                    </select>
                </div>

                <!--口味类型-->
                <label class="col-sm-3 control-label">口味类型</label>
                <div class="col-sm-3">
                    <select id="stdishtype" class="form-control selectpicker" data-size="7">
                        @{
                            foreach (var item in Enum.GetNames(typeof(DishType)))
                            {
                                <option value="@(((DishType)Enum.Parse(typeof(DishType), item)).GetHashCode())">@item</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <!--用餐人数-->
                <label class="col-sm-3 control-label">用餐人数</label>
                <div class="col-sm-3">
                    <select id="stmealnum" class="form-control selectpicker" data-size="7">
                        @{
                            foreach (var item in Enum.GetNames(typeof(MealsNumber)))
                            {
                                <option value="@(((MealsNumber)Enum.Parse(typeof(MealsNumber), item)).GetHashCode())">@item</option>
                            }
                        }
                    </select>
                </div>

                <!--花费等级-->
                <label class="col-sm-3 control-label">花费等级</label>
                <div class="col-sm-3">
                    <select id="stspendgrade" class="form-control selectpicker" data-size="7">
                        @{
                            foreach (var item in Enum.GetNames(typeof(SpendGrade)))
                            {
                                <option value="@(((SpendGrade)Enum.Parse(typeof(SpendGrade), item)).GetHashCode())">@item</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <!--按钮-->
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-9">
                    <button id="btnsearch" type="button" class="btn btn-default">查一查</button>
                </div>
            </div>
        </form>

    </div>

    <div class="col-sm-6">
        222
    </div>


</div>


<div class="row">
    <h2>隐藏界面</h2>

</div>




<script type="text/javascript">
    $(function () {

        //初始化日期
        SetDateShow();
        //加载用餐时间
        LoadMealTime();


        $("#btnsearch").click(function () {

            alert(getSelecterVal());

        });

    });

    /**
     *加载用餐时间
     */
    function LoadMealTime() {
        var mealtimeval = @(((MealTime)ViewBag.Meal).GetHashCode());
        $('#stmealtime').selectpicker('val', mealtimeval);
    }

    /**
     *设置日期显示
     */
    function SetDateShow() {
        //开一个定时器
        setInterval(function () {
            var time = new Date();
            // 程序计时的月从0开始取值后+1
            var m = time.getMonth() + 1;
            var month = "";
            if (m < 10) {
                month = "0" + m;
            }
            else {
                month = m;
            }
            var t = time.getFullYear() + "-" + month + "-"
                + time.getDate() + " " + time.getHours() + ":"
                + time.getMinutes() + ":" + time.getSeconds();
            $('#currentdate').html(t);

        }, 1000);
    }


    /**
     * 获取选择的值
     */
    function getSelecterVal() {
        return $('#stmealtime').val();
    }



</script>
