@using EarlySite.Model.Enum;
@{
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="Modal-inner">
        <h3 class="Modal-title">分享单品</h3>
        <div class="Modal-subtitle">动人的描述更易打动人们的心</div>
        <div class="Modal-content">
            <div class="QuestionAsk">
                <form novalidate="">
                    <!--名称-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--large">
                                    <input id="generate_dishname" autocomplete="off" class="Input" placeholder="单品名称" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--单品属性-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--large">
                                    <div class="col-sm-6">
                                        <div class="QuestionAsk-sectionHeader">
                                            <span class="QuestionAsk-label">用餐时间：</span>
                                        </div>
                                        <select id="generate_stmealtime" class="form-control selectpicker" data-size="5">
                                            @{
                                                foreach (var item in Enum.GetNames(typeof(MealTime)))
                                                {
                                                    <option value="@(((MealTime)Enum.Parse(typeof(MealTime), item)).GetHashCode())">@item</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="QuestionAsk-sectionHeader">
                                            <span class="QuestionAsk-label">口味类型：</span>
                                        </div>
                                        <select id="generate_stdishtype" class="form-control selectpicker" data-size="5">
                                            @{
                                                foreach (var item in Enum.GetNames(typeof(DishType)))
                                                {
                                                    <option value="@(((DishType)Enum.Parse(typeof(DishType), item)).GetHashCode())">@item</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--食谱设置-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--large">
                                    <div class="col-sm-12">
                                        <div class="QuestionAsk-sectionHeader">
                                            <span class="QuestionAsk-label">选择食谱：</span>
                                        </div>

                                        <select id="generate_recipe" class="form-control selectpicker" data-size="5">
                                            @{
            foreach (var item in Enum.GetNames(typeof(MealTime)))
            {
                                    <option value="@(((MealTime)Enum.Parse(typeof(MealTime), item)).GetHashCode())">@item</option>
}
                                            }
                                        </select>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--店铺设置-->
                    <div class="QuestionAsk-section">
                        <div class="TagInput TagInput--empty">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--large">
                                    <input id="generate_shop" class="Input" autocomplete="off" placeholder="选择商家" value="" />
                                    <div class="Input-after">
                                        <svg class="Zi Zi--Search" fill="#afbdcf" viewBox="0 0 24 24" width="18" height="18"><path d="M17.068 15.58a8.377 8.377 0 0 0 1.774-5.159 8.421 8.421 0 1 0-8.42 8.421 8.38 8.38 0 0 0 5.158-1.774l3.879 3.88c.957.573 2.131-.464 1.488-1.49l-3.879-3.878zm-6.647 1.157a6.323 6.323 0 0 1-6.316-6.316 6.323 6.323 0 0 1 6.316-6.316 6.323 6.323 0 0 1 6.316 6.316 6.323 6.323 0 0 1-6.316 6.316z" fill-rule="evenodd"></path></svg>
                                    </div>
                                </div>
                                <div id="generateshop-content" class="Popover-content Popover-content-leave-active">
                                    <div id="shopcontentscroll" class="Menu Autocomplete-menu" style="max-height:265px;overflow:scroll"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--图片设置-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-sectionHeader">
                            <span class="QuestionAsk-label">图片设置：</span>
                            <div class="QuestionAsk-sectionHeaderRight">
                                <button class="Button Editable-control Button--plain" data-tooltip="上传图片" data-tooltip-position="bottom" type="button" onclick="OpenFileSelect()">
                                    <svg class="Zi Zi--InsertImage" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M21 17.444C21 18.3 20.1 19 19 19H5c-1.1 0-2-.7-2-1.556V6.556C3 5.7 3.9 5 5 5h14c1.1 0 2 .7 2 1.556v10.888zm-9.437-3.919a.5.5 0 0 1-.862.013l-1.26-2.065a.5.5 0 0 0-.861.012l-2.153 3.767a.5.5 0 0 0 .435.748h10.292a.5.5 0 0 0 .438-.741L14.573 9.78a.5.5 0 0 0-.872-.006l-2.138 3.75z" fill-rule="evenodd"></path></svg>
                                </button>
                            </div>
                        </div>
                        <div class="Modal-content">
                            <div class="Enditable-picModal-uploader" onclick="OpenFileSelect()">
                                <div class="Enditable-picModal-uploader-icon">
                                    <svg class="Zi Zi--BackToTop" fill="currentColor" viewBox="0 0 24 24" width="70" height="70"><path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path></svg>
                                </div>
                                <div class="Enditable-picModal-uploader-text">选择要上传的图片</div>
                                <div class="Enditable-picModal-uploader-tip">请上传大小不超过2MB的图片，并确保是图片格式</div>
                                <input id="picModaluploader" type="file" name="picmodal" />
                            </div>
                            <div class="UploadpicModal" hidden="hidden">
                                <img id="uploadpicshow" class="UploadpicModal-img" alt="图片预览" src="" />
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <!--单品描述-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                                    <textarea id="generate_des" rows="2" autocomplete="off" class="Input" placeholder="单品描述"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ModalButtonGroup QuestionAsk-buttonGroup ModalButtonGroup--vertical">
                        <button class="Button Button--primary Button--red" type="button" id="btn_commit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="Button Button--plain Modal-closeButton" aria-label="关闭" data-dismiss="modal">
        <svg class="modal-closeIcon" fill="#fff" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg>
    </button>

</div><!-- /.modal-dialog -->
<div>


</div>


<script>

    $(function () {

        //渲染焦点效果
        $('.Input').on('focus', function () {
            $(this).parent().addClass('is-focus');
        });
        $('.Input').on('blur', function () {
            $(this).parent().removeClass('is-focus');
        });

        //选择框初始化
        var mealtimeval = @(((MealTime)ViewBag.Meal).GetHashCode());
        $('#generate_stmealtime').selectpicker('val', mealtimeval);
        $('#generate_stdishtype').selectpicker();

        $('#generate_recipe').selectpicker();

        //动态店铺搜索框初始化
        $('#generate_shop').on('input', function () {
            var val = $.trim($(this).val());
            if (val == null || val == "")
                return;
            var content = $('#generateshop-content');
            //ajax search
            $.ajax({
                method: 'POST',
                url: '@Url.Action("SearchKeyforShopInfo","Component")',
                data: {
                    key: val
                },
                success: function (result) {
                    var contenthtml = "";
                    var data = eval('(' + result + ')');
                    if (data.Status && data.Data.List.length>0) {
                        var info = data.Data.List;
                        for (var i = 0; i < info.length; i++) {
                            var itemc = info[i];
                            contenthtml += '<div class="Menu-item" role="option" data-shopid="' + itemc.ShopId + '" data-shopname="' + itemc.ShopName + '"><div class="AutoComplete-DefaultItem">' + itemc.ShopName + '</div ></div>';
                        }
                    }
                    else {
                        contenthtml += '<div class="Menu-item" role="option"><div class="AutoComplete-DefaultItem">没有找到合适的商家,请先发布一条商家信息吧.</div ></div>';
                    }
                    $(content).children().html('');
                    $(content).children().append(contenthtml);
                    content.removeClass('Popover-content-leave-active');
                    //渲染商家搜索选择框效果
                    $('.Menu-item').hover(function () {
                        $(this).addClass('is-active');
                    }, function () {
                        $(this).removeClass('is-active');
                    });
                    //绑定数据框选择事件赋值
                    $('.Menu-item').on('click', function () {
                        var id = $(this).data('shopid');
                        var name = $(this).data('shopname');
                        $('#generate_shop').attr('data-shopid', id);
                        $('#generate_shop').attr('data-shopname', name);
                        $('#generate_shop').val(name);
                    });
                },
                error: function (error) {
                    toast("Ajax send error : " + error);
                }
            });
        });



        //图片上传器监听
        $('#picModaluploader').on('change', function (e) {

            var fileup = document.querySelector("#picModaluploader").files[0];
            var preview = document.querySelector("#uploadpicshow");
            var reader = new FileReader();
            //通过FileReader读取图片的数据
            reader.addEventListener("load", function () {
                preview.src = reader.result;
                $(".Enditable-picModal-uploader").hide();
                $(".UploadpicModal").show();
            }, false);

            if (fileup) {
                reader.readAsDataURL(fileup);
            }
        });

        //监听面板点击事件判断数据选择面板的显示
        $("body").click(function (e) {
            if ($(e.target).parent().attr("id") != "generate_shop" || $(e.target).attr("id") != "generate_shop") {
                $('#generateshop-content').addClass('Popover-content-leave-active');
            }
        });



        $("#btn_commit").click(function () {

            //数据验证
            var dishname = $('#generate_dishname').val();
            if (dishname == null || dishname == "") {
                toast("请填上单品的名字！");
                return;
            }
            var shopid = $('#generate_shop').data("shopid");
            var shopname = $('#generate_shop').data("shopname");
            if (shopid == 0 || shopid == undefined || shopname == "" || shopname == null) {
                toast("请选择单品所在的店铺！");
                return;
            }
            var dishpic = $('#uploadpicshow').attr("src");
            if (dishpic == null || dishpic == "") {
                toast("请上传一张单品图片！");
                return;
            }
            var recipe = $('#generate_recipe').data("recipeid");
            if (recipe == 0 || recipe == undefined) {
                toast("请选择单品所在的店铺！");
                return;
            }

            //禁用提交按钮 防止重复提交
            var _this = $(this);
            _this.prop('disabled', true);

            var dishinfo = {};
            dishinfo.Name = dishname;
            dishinfo.Type = $('#generate_stdishtype').val();
            dishinfo.MealTime = $('#generate_stmealtime').val();
            dishinfo.ShopId = shopid;
            dishinfo.ShopName = shopname;
            dishinfo.Image = dishpic;
            dishinfo.Description = $('#generate_des').val();

            $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("DishShare", "Component")',
                    data: {
                        dish: dishinfo,
                        shopid: shopid,
                        recipeid: recipe
                    },
                    success: function (data) {

                        //启用提交按钮
                        _this.prop('disabled', false);
                        console.log(data);
                        var result = eval('(' + data + ')');
                        if (result.Status) {

                            toast(result.Message);
                        }
                        else {
                            toast(result.Message);
                        }
                    },
                    error: function (error) {
                        toast("Ajax send error");
                    }
            });
        });


    });

    //打开文件选择
    function OpenFileSelect() {
        $('#picModaluploader')[0].click();
    }

    //获取单品分享数据
    function CommitDishShare() {



        var dish = {};


    }



</script>