<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -EearlySite</title>
    @Styles.Render("~/Themes/Style")
</head>
<body>
    <div class="container-fluid">
        <div class="col-xs-2">
            <ul class="list-unstyled">
                <li>DEME1</li>
                <li>DEME2</li>
                <li>DEME3</li>
                <li>DEME4</li>
            </ul>

        </div>
        <div class="col-xs-8">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - EarlySite</p>
                </footer>
            </div>

        </div>

    </div>


    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts");
    @RenderSection("scripts", required: false)
</body>
</html>
