@using EarlySite.Model.Show

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -EearlySite</title>
    @Styles.Render("~/Themes/Style")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#target-menu">
                    <span class="sr-only">qieh</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">哪儿吃</a>
            </div>

            <div class="collapse navbar-collapse" id="target-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">
                            发现
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Profile")">
                            我的
                        </a>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索你感兴趣的食物">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Profile")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img width="20" height="20" src="data:image/png;base64,@(ViewBag.Account == null ? "" : ViewBag.Account.Avator)" />
                            @(ViewBag.Account == null ? "无" : ViewBag.Account.NickName)
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Profile")">我的</a></li>
                            <li><a href="@Url.Action("Setting","Profile")">设置</a></li>
                            <li><a href="javascript:signOut('@(ViewBag.Account == null ? "0" : ViewBag.Account.Phone)')">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EarlySite</p>
        </footer>
    </div>


    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
