@using EarlySite.Model.Show
@using EarlySite.Model.Enum
@model Account
@{
    var nick = "用户";
    nick = Model == null ? "用户" : Model.NickName;
    ViewBag.Title = nick;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row corner">
                <div class="ProfileHeader-userCover">
                    <div class="UserCoverEditor">
                        <div>
                            <button class="btn btn-default UserCoverEditor-simpleEditButton">
                                <svg viewBox="0 0 20 16" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;">
                                    <title></title>
                                    <g>
                                        <path d="M18.094 2H15s-1-2-2-2H7C6 0 5 2 5 2H2C0 2 0 3.967 0 3.967V14c0 2 2.036 2 2.036 2H17c3 0 3-1.983 3-1.983V4c0-2-1.906-2-1.906-2zM10 12c-1.933 0-3.5-1.567-3.5-3.5S8.067 5 10 5s3.5 1.567 3.5 3.5S11.933 12 10 12zm0 1.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm7.5-8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                编辑封面图片
                            </button>
                            <div class="UserCover">
                                <img class="UserCover-image" src="data:image/png;base64,@(Model != null ? Model.BackCorver:"")" alt="用户封面" , width="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ProfileHeader-wrapper">
                    <div class="ProfileHeader-main">
                        <!--左边头像-->
                        <div class="ProfileHeader-avatar">
                            <div class="UserAvatar">
                                <img class="Avatar UserAvatar-inner" src="data:image/png;base64,@(Model != null?Model.Avator:"")" width="160" height="160" />
                            </div>
                        </div>

                        <!--右边资料-->
                        <div class="ProfileHeader-content">
                            <div class="ProfileHeader-contentHead">
                                <h1 class="ProfileHeader-title">
                                    <span class="ProfileHeader-name">@(Model != null ? Model.NickName : "")</span>
                                </h1>
                            </div>
                            <div class="ProfileHeader-contentBody" style="height:52px">
                                <span>
                                    <div class="ProfileHeader-info">
                                        <div class="ProfileHeader-infoItem">
                                            <div class="ProfileHeader-iconWrapper">
                                                <svg viewBox="0 0 20 18" class="Icon Icon--company" width="13" height="16" aria-hidden="true" style="height: 16px; width: 13px;"><title></title><g><path d="M15 3.998v-2C14.86.89 13.98 0 13 0H7C5.822 0 5.016.89 5 2v2l-3.02-.002c-1.098 0-1.97.89-1.97 2L0 16c0 1.11.882 2 1.98 2h16.033c1.1 0 1.98-.89 1.987-2V6c-.007-1.113-.884-2.002-1.982-2.002H15zM7 4V2.5s-.004-.5.5-.5h5c.5 0 .5.5.5.5V4H7z"></path></g></svg>
                                            </div>
                                            @(Model != null ? Model.Email : "")
                                        </div>

                                        <div class="ProfileHeader-infoItem">
                                            <div class="ProfileHeader-iconWrapper">
                                                @{
                                                    if (Model != null)
                                                    {
                                                        if (Model.Sex == AccountSex.FeMale.GetHashCode())
                                                        {
                                                            <svg width="14" height="16" viewBox="0 0 12 16" class="Icon Icon--female" aria-hidden="true" style="height: 16px; width: 14px;"><title></title><g><path d="M6 0C2.962 0 .5 2.462.5 5.5c0 2.69 1.932 4.93 4.485 5.407-.003.702.01 1.087.01 1.087H3C1.667 12 1.667 14 3 14s1.996-.006 1.996-.006v1c0 1.346 2.004 1.346 1.998 0-.006-1.346 0-1 0-1S7.658 14 8.997 14c1.34 0 1.34-2-.006-2.006H6.996s-.003-.548-.003-1.083C9.555 10.446 11.5 8.2 11.5 5.5 11.5 2.462 9.038 0 6 0zM2.25 5.55C2.25 3.48 3.93 1.8 6 1.8c2.07 0 3.75 1.68 3.75 3.75C9.75 7.62 8.07 9.3 6 9.3c-2.07 0-3.75-1.68-3.75-3.75z" fill-rule="evenodd"></path></g></svg>
                                                        }
                                                        else if (Model.Sex == AccountSex.Male.GetHashCode())
                                                        {
                                                            <svg width="14" height="16" viewBox="0 0 14 14" class="Icon Icon--male" aria-hidden="true" style="height: 16px; width: 14px;"><title></title><g><path d="M3.025 10.64c-1.367-1.366-1.367-3.582 0-4.95 1.367-1.366 3.583-1.366 4.95 0 1.367 1.368 1.367 3.584 0 4.95-1.367 1.368-3.583 1.368-4.95 0zm10.122-9.368c-.002-.414-.34-.75-.753-.753L8.322 0c-.413-.002-.746.33-.744.744.002.413.338.75.75.752l2.128.313c-.95.953-1.832 1.828-1.832 1.828-2.14-1.482-5.104-1.27-7.013.64-2.147 2.147-2.147 5.63 0 7.777 2.15 2.148 5.63 2.148 7.78 0 1.908-1.91 2.12-4.873.636-7.016l1.842-1.82.303 2.116c.003.414.34.75.753.753.413.002.746-.332.744-.745l-.52-4.073z" fill-rule="evenodd"></path></g></svg>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>

                            <div class="ProfileHeader-contentFooter">
                                <div class="ProfileButtonGroup ProfileHeader-buttons">
                                    <button id="btnChangeInfo" class="btn btn-default" type="button">
                                        <!-- react-text: 11490 -->编辑<!-- /react-text --><!-- react-text: 11491 -->个人<!-- /react-text --><!-- react-text: 11492 -->资料<!-- /react-text -->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="row corner">
                <div class="warrper">
                    <div class="warrper-header">
                        <a class="warrper-header-title efont" href="">个人榜单</a>
                        <span class="warrper-header-more">最近一周|最近一月</span>
                    </div>
                    <div class="warrper-body">
                        <div class="row warrper-body-list">
                            <div class="col-sm-6">
                                <div class="List-header">
                                    <h4 class="List-headerText">店铺排行</h4>
                                    <div class="List-headerOptions"></div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>店铺名称</th>
                                            <th>店铺地址</th>
                                            <th>次数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>宜宾燃面</td>
                                            <td>XXXXX</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>宜宾燃面</td>
                                            <td>XXXXX</td>
                                            <td>3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <div class="List-header">
                                    <h4 class="List-headerText">单品排行</h4>
                                    <div class="List-headerOptions"></div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>排名</th>
                                            <th>食物名称</th>
                                            <th>店铺地址</th>
                                            <th>次数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>XXXX</td>
                                            <td>XXXXX</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>XXXX</td>
                                            <td>XXXXX</td>
                                            <td>3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row corner">
                @{
            Html.RenderPartial("RecipesPatialView", (IList<Recipes>)ViewBag.Recipes);
                }
            </div>
            <div class="row corner">
                @{
            Html.RenderPartial("DishPatialView", (IList<Dish>)ViewBag.Dishs);
                }
            </div>
            <div class="row corner">
                @{
            Html.RenderPartial("FavoriteRecipePatialView", (IList<Recipes>)ViewBag.FavoriteRecipes);
                }
            </div>
            <div class="row corner">
                @{
            Html.RenderPartial("FavoriteDishPatialView", (IList<Dish>)ViewBag.FavoriteDishs);
                }
            </div>
        </div>

        <div class="col-sm-3 col-sm-offset-1">

            <div class="row corner">
                <div class="List-header">
                    <h4 class="List-headerText"><span>个人资料</span></h4>
                    <div class="List-headerOptions"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ProfileBoard">
                        <div class="ProfileBoard-title">
                            关注人
                        </div>
                        <a href="">
                            <strong class="ProfileBoard-number">122</strong>
                        </a>
                    </div>
                    <div class="col-sm-6 ProfileBoard">
                        <div class="ProfileBoard-title">
                            粉丝
                        </div>
                        <a href="">
                            <strong class="ProfileBoard-number">36</strong>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row corner">
                <div class="List-header">
                    <h4 class="List-headerText"><span>个人成就</span></h4>
                    <div class="List-headerOptions"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 ProfileBoard">
                        <div class="ProfileBoard-title">
                            分享
                        </div>
                        <a href="">
                            <strong class="ProfileBoard-number">@(((IList<Dish>)ViewBag.Dishs).Count)</strong>
                        </a>
                    </div>
                    <div class="col-sm-6 ProfileBoard">
                        <div class="ProfileBoard-title">
                            收藏
                        </div>
                        <a href="">
                            <strong class="ProfileBoard-number">@ViewBag.FavoriteCount</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $('#btnChangeInfo').click(function () {

        window.location = '@Url.Action("Setting", "Profile")';

    });



</script>