@using EarlySite.Model.Show
@using EarlySite.Model.Enum
@model Account
@{
    ViewBag.Title = "编辑个人资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row corner">
                <div class="ProfileHeader-userCover">
                    <div class="UserCoverEditor">
                        <div>
                            <button class="btn btn-default UserCoverEditor-simpleEditButton">
                                <svg viewBox="0 0 20 16" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;">
                                    <title></title>
                                    <g>
                                        <path d="M18.094 2H15s-1-2-2-2H7C6 0 5 2 5 2H2C0 2 0 3.967 0 3.967V14c0 2 2.036 2 2.036 2H17c3 0 3-1.983 3-1.983V4c0-2-1.906-2-1.906-2zM10 12c-1.933 0-3.5-1.567-3.5-3.5S8.067 5 10 5s3.5 1.567 3.5 3.5S11.933 12 10 12zm0 1.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm7.5-8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                编辑封面图片
                            </button>
                            <div class="UserCover">
                                <img class="UserCover-image" src="data:image/png;base64,@(Model != null ? Model.BackCorver:"")" alt="用户封面" , width="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ProfileHeader-wrapper">
                    <div class="ProfileHeader-main">
                        <!--左边头像-->
                        <div class="ProfileHeader-avatar">
                            <div class="UserAvatar">
                                <img class="Avatar UserAvatar-inner" src="data:image/png;base64,@(Model != null?Model.Avator:"")" width="160" height="160" />
                            </div>
                        </div>

                        <!--右边资料-->
                        <div class="ProfileHeader-content">
                            <div class="ProfileHeader-contentHead">
                                <h1 class="ProfileHeader-title">
                                    <span class="ProfileHeader-name">@(Model != null ? Model.NickName : "")</span>
                                </h1>
                                <div class="ProfileEdit-expandActions">
                                    <a class="Button Button--plain" type="button" href="@Url.Action("Index","Profile",new { @phone = Model.Phone})">返回我的主页</a>
                                </div>
                            </div>

                            <div class="ProfileEdit-fields">
                                <div class="Field">
                                    <h3 class="Field-label">昵称</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@Model.NickName</span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="Field">
                                    <h3 class="Field-label">性别</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">
                                                @(Model.Sex == AccountSex.FeMale ? "女" : "男")
                                            </span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="Field">
                                    <h3 class="Field-label">生日</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@Model.BirthdayDate.ToString("MM-dd")</span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>

                                    </div>

                                </div>
                                <div class="Field">
                                    <h3 class="Field-label">描述</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@Model.Description </span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.Field-modify').hover(function () {
            $(this).removeClass('Field-modify-hidden');
        }, function () {
            $(this).addClass('Field-modify-hidden');
        });


    });


</script>