@using EarlySite.Model.Show
@using EarlySite.Model.Enum
@model Account
@{
    ViewBag.Title = "编辑个人资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row corner">
                <div class="ProfileHeader-userCover">
                    <div class="UserCoverEditor">
                        <div>
                            <button class="btn btn-default UserCoverEditor-simpleEditButton">
                                <svg viewBox="0 0 20 16" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;">
                                    <title></title>
                                    <g>
                                        <path d="M18.094 2H15s-1-2-2-2H7C6 0 5 2 5 2H2C0 2 0 3.967 0 3.967V14c0 2 2.036 2 2.036 2H17c3 0 3-1.983 3-1.983V4c0-2-1.906-2-1.906-2zM10 12c-1.933 0-3.5-1.567-3.5-3.5S8.067 5 10 5s3.5 1.567 3.5 3.5S11.933 12 10 12zm0 1.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm7.5-8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" fill-rule="evenodd"></path>
                                    </g>
                                </svg>
                                编辑封面图片
                            </button>
                            <div class="UserCover">
                                <img class="UserCover-image" src="data:image/png;base64,@(Model != null ? Model.BackCorver : "")" alt="用户封面" , width="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ProfileHeader-wrapper">
                    <div class="ProfileHeader-main">
                        <!--左边头像-->
                        <div class="ProfileHeader-avatar">
                            <div class="UserAvatar">
                                <img class="Avatar UserAvatar-inner" src="data:image/png;base64,@(Model != null ? Model.Avator : "")" width="160" height="160" />
                            </div>
                        </div>

                        <!--右边资料-->
                        <div class="ProfileHeader-content">
                            <div class="ProfileHeader-contentHead">
                                <h1 class="ProfileHeader-title">
                                    <span class="ProfileHeader-name">@(Model != null ? Model.NickName : "")</span>
                                </h1>
                                <div class="ProfileEdit-expandActions">
                                    <a class="Button Button--plain" type="button" href="@Url.Action("Index", "Profile", new { @phone = Model.Phone })">返回我的主页</a>
                                </div>
                            </div>

                            <div class="ProfileEdit-fields">
                                <div class="Field">
                                    <h3 class="Field-label">昵称</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@Model.NickName</span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>
                                        <div class="form-inline Field-modify-hidden">
                                            <input id="editnickname" class="form-control" type="text" value="@Model.NickName" />
                                            <button class="btn btn-primary" onclick="changeNickName()">确认</button>
                                            <button class="btn btn-default Field-edit-cancle">取消</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="Field">
                                    <h3 class="Field-label">性别</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@(Model.Sex == AccountSex.FeMale ? "女" : "男")</span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>
                                        <div class="form-inline Field-modify-hidden">
                                            @{
                                                if (Model.Sex == AccountSex.Male)
                                                {
                                                    <input type="radio" name="sex" checked="checked" value="@AccountSex.Male.GetHashCode()" /><span>男</span>
                                                    <input type = "radio" name = "sex" value = "@AccountSex.FeMale.GetHashCode()" /><span>女</span>
                                                }
                                                else
                                                {
                                                    <input type="radio" name="sex" value="@AccountSex.Male.GetHashCode()" /><span>男</span>
                                                    <input type = "radio"  name = "sex" checked="checked" value = "@AccountSex.FeMale.GetHashCode()" /><span>女</span>
                                                }
                                            }
                                            <button class="btn btn-primary">确认</button>
                                            <button class="btn btn-default Field-edit-cancle">取消</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="Field">
                                    <h3 class="Field-label">生日</h3>
                                    <div class="Field-content">
                                        <div>
                                            <span class="Field-text">@Model.BirthdayDate.ToString("yyyy-MM-dd")</span>
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>
                                        <div class="form-inline Field-modify-hidden">
                                            <div class="input-group date form_date col-md-5" data-date="@Model.BirthdayDate.ToString("yyyy-MM-dd")" data-date-format="yyyy-mm-dd">
                                                <input class="form-control" size="16" type="text" value="@Model.BirthdayDate.ToString("yyyy-MM-dd")" readonly>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                            </div>
                                            <button class="btn btn-primary">确认</button>
                                            <button class="btn btn-default Field-edit-cancle">取消</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="Field" style="height:194px">
                                    <h3 class="Field-label">描述</h3>
                                    <div class="Field-content">
                                        <div>
                                            @{
                                                var nullstr = "暂无添加描述";
                                                if (string.IsNullOrEmpty(Model.Description))
                                                {
                                                    <span class="Field-text" style="color:gray">
                                                        @nullstr
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="Field-text">
                                                        @Model.Description
                                                    </span>
                                                }
                                            }
                                            <button class="Button ModifyButton Field-modify Field-modify-hidden Button--link" type="button">修改</button>
                                        </div>
                                        <div class="Field-modify-hidden">
                                            <textarea class="DescriptionField-input TextArea" rows="3">@Model.Description</textarea>
                                            <button class="btn btn-primary">确认</button>
                                            <button class="btn btn-default Field-edit-cancle">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--KAWD-722-->
<script type="text/javascript">
    $(function () {
        $('.Field-modify').hover(function () {
            $(this).removeClass('Field-modify-hidden');
        }, function () {
            $(this).addClass('Field-modify-hidden');
        });

        $('.Field-modify').click(function () {
            $(this).parent().hide();
            $(this).parent().next().removeClass('Field-modify-hidden');
        });

        $('.Field-edit-cancle').click(function () {
            $(this).parent().addClass('Field-modify-hidden');
            $(this).parent().prev().show();


        });


        $('.date').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            minView: 2,
            showMeridian: 1
        });

    });

    function getModel() {
        var info = {};
        info.NickName = '@Model.NickName';
        info.Sex = @Model.Sex.GetHashCode();
        info.Description ='@Model.Description';
        info.BirthdayDate = '@Model.BirthdayDate.ToString("yyyy-MM-dd")';
        info.CreatDate = '@Model.CreatDate.ToString("yyyy-MM-dd")';
        info.Phone = @Model.Phone;
        info.Email = '@Model.Email';

        return info;
    }


    function changeNickName() {
        var info = getModel();
        var editname = $('#editnickname').val();
        info.NickName = editname;

        sendToUpdate(info);
    }



    function sendToUpdate(info) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("ChangeAccountInfo", "Profile")',
            data: {account : info},
            success: function (result) {

                console.log(result);

            },
            error: function (error) {

                alert("Ajax send error");
            }


        });


    }


</script>