
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>忘记密码 - 哪儿吃</title>
    <link href="~/Themes/Style/AccountForget.css" rel="stylesheet" />
</head>
<body class="EntrySign-body">

    <main class="App-main">
        <div class="Step" data-reactid="40">
            <div class="Step-inner PasswordReset" data-reactid="41">
                <div class="StepHeader" data-reactid="43">
                    <h1 class="StepHeader-title">找回密码</h1>
                    <h2 class="StepHeader-subtitle">验证码将会发送至你的注册邮箱</h2>
                </div>
                <div class="SignFlow-account" data-reactid="46">
                    <div class="SignFlow-supportedCountriesSelectContainer" data-reactid="47"></div>
                    <div class="SignFlowInput SignFlow-accountInputContainer" data-reactid="48">
                        <div class="SignFlow-accountInput Input-wrapper" data-reactid="49">
                            <input class="Input" id="username" value="" name="username" placeholder="邮箱账号" data-reactid="50" type="text" />
                        </div>
                        <div id="usernamemask" class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask" data-reactid="51"></div>
                    </div>
                </div>

                <div id="captchainput" class="SignFlow SignFlow-smsInputContainer">
                    <div class="SignFlowInput SignFlow-smsInput">
                        <div class="Input-wrapper">
                            <input id="smsvalue" value="" name="digits" class="Input" placeholder="输入 5 位邮箱验证码" type="text">
                        </div>
                        <div id="captchamask" class="SignFlowInput-errorMask SignFlow-smsInputErrorMessage"></div>
                    </div>
                    <button id="btnSmsSend" class="Button CountingDownButton SignFlow-smsInputButton Button--plain" type="button">
                        <!-- react-text: 101 --><!-- /react-text -->
                    </button>
                </div>

                <button id="btnnext" class="Button PasswordReset-nextStep Button--primary Button--blue" type="submit" data-reactid="61"><!-- react-text: 62 -->下一步<!-- /react-text --></button>
            </div>
        </div>
    </main>

    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">


        var step = 0;
        var mailsend = 30;
        var mailsendinterval;

        $(function () {
            $('#usernamemask').hide();
            $('#captchamask').hide();
            $('#captchainput').hide();

        });
        $('#username').blur(function () {
            var mailinfo = $('#username').val();
            if (mailinfo == null || mailinfo == "" || mailinfo == undefined) {
                $('#usernamemask').html("请输入邮箱信息");
                $('#usernamemask').show(300);
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("CheckMail", "Account")',
                    data: { mail: mailinfo },
                    success: function (result) {
                        if (result.Status) {
                            $('#usernamemask').html('该邮箱尚未注册');
                            $('#usernamemask').show(300);
                            return false;
                        }
                        else {
                            $('#usernamemask').hide();
                        }
                    },
                    error: function (error) {
                        alert("Ajax send error");
                    }
                });
            }
        });
        $('#usernamemask').click(function () {
            $('#usernamemask').hide(300);
            $('#username').click();
        });
        $('#captchamask').click(function () {
            $('#captchamask').hide(300);
        });

        $('#btnSmsSend').click(function () {
            console.log("点击重发");
            if (mailsend <= 0 && step == 0) {
                mailsend = 30;
                //验证邮箱
                var username = $('#username').val();
                if (username == null || username == "" || username == undefined) {
                    $('#usernamemask').html('请输入你要找回的注册邮箱');
                    $('#usernamemask').show(300);
                    return;
                }
                else {
                    submitForget(username);
                }
            }
        });


        $('#btnnext').click(function () {

            if (step == 0) {
                //验证邮箱
                var username = $('#username').val();
                if (username == null || username == "" || username == undefined) {
                    $('#usernamemask').html('请输入你要找回的注册邮箱');
                    $('#usernamemask').show(300);
                    return;
                }
                else {
                    //检查是否注册
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("CheckMail", "Account")',
                        data: { mail: username },
                        success: function (result) {
                            if (result.Status) {
                                $('#usernamemask').html('该邮箱尚未注册');
                                $('#usernamemask').show(300);
                                return false;
                            }
                            else {
                                $('#usernamemask').hide();
                                submitForget(username);
                                step += 1;
                            }
                        },
                        error: function (error) {
                            alert("Ajax send error");
                        }
                    });
                }

            }
            else if (step == 1) {
                //验证验证码
                var smsvalue = $('#smsvalue').val();
                var username = $('#username').val();
                if (smsvalue == null || smsvalue == "" || smsvalue == undefined) {
                    $('#captchamask').html('验证码错误');
                    $('#captchamask').show(300);
                    return;
                }
                //验证
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("ForgetVerivicationCode", "Account")',
                        data: {
                            mail: username,
                            code: smsvalue
                        },
                        success: function (result) {
                            if (result.Status) {
                                window.location = '@Url.Action("ResetPassword", "Account")' + '?account=' + username;
                            }
                            else {
                                $('#captchamask').html('验证码错误');
                                $('#captchamask').show(300);
                                return;
                            }
                        },
                        error: function (error) {
                            alert("Ajax send error");
                        }
                    });
            }
        });

        /**
         * 提交忘记密码 发送验证码
         */
        function submitForget(mail) {

            //发送邮件
            $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("ForgetSubmit", "Account")',
                        data: { mail: mail },
                        success: function (result) {
                            if (result.Status) {

                                $('#captchainput').show();
                                $('#username').attr("readonly", "true");
                                $('#username').css("color", "#8590a6");
                                $('#btnSmsSend').addClass('is-counting');
                                $('#btnSmsSend').html(mailsend + "秒后重新发送验证码");
                                mailsendinterval = setInterval(caculateMailSend, 1000);
                            }
                        },
                        error: function (error) {
                            alert(error);
                 }
             });
        }

        /**
         *计算邮件发送间隔
         */
        function caculateMailSend() {
            $('#btnSmsSend').html(mailsend + "秒后重新发送验证码");
            mailsend -= 1;
            if (mailsend <= 0) {
                clearInterval(mailsendinterval);
                $('#btnSmsSend').removeClass('is-counting');
                $('#btnSmsSend').html('重新获取邮箱验证码');
            }
        }


    </script>

</body>
</html>