
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - 哪儿吃</title>
    <link href="~/Themes/Style/AccountLogin.css" rel="stylesheet" />
</head>
<body class="EntrySign-body">
    <div class="App-main">
        <div class="SignFlowHomepage">
            <div class="SignFlowHomepage-content">
                <div class="Card SignContainer-content">
                    <div class="SignFlowHeader" style="padding-bottom:5px">
                        <div class="SignFlowHeader-slogen">
                            登录哪儿吃,分享你刚吃的美食
                        </div>
                    </div>
                    <div class="SignContainer-inner">
                        <div class="Login-content">
                            <div class="SignFlow-account">
                                <div class="SignFlowInput">
                                    <div class="SignFlow-accountInput Input-wrapper">
                                        <input id="usernameinput" value="" name="username" class="Input" placeholder="手机号或邮箱" data-reactid="26" type="text">
                                    </div>
                                    <div id="usernameerrormask" class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask">请输入登录信息</div>
                                </div>
                            </div>

                            <div class="SignFlow-password">
                                <div class="SignFlowInput">
                                    <div class="SignFlow-accountInput Input-wrapper">
                                        <input id="passwordinput" value="" name="username" class="Input" placeholder="密码" data-reactid="26" type="password">
                                    </div>
                                    <div id="passworderrormask" class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask">请输入密码</div>
                                </div>
                            </div>
                            <div class="Login-options"></div>
                            <button id="forgetbtn" class="Button Login-cannotLogin Button--plain">忘记密码?</button>
                            <button id="loginbtn" class="Button SignFlow-submitButton Button--primary Button--blue" type="button" data-reactid="51">
                                <!-- react-text: 52 -->登录<!-- /react-text -->
                            </button>
                            <div class="Register-footer" data-reactid="86">
                                <span class="Login-socialLogin">
                                    <button id="socialbtn" class="Button Login-socialButtonEntrance Button--plain" type="button">社交账号登录</button>

                                    <span id="socialgroup" class="Login-socialButtonGroup Login-socialButtonGroup--hidden">
                                        <!--wechat-->
                                        <button class="Button Login-socialButton Button--plain" type="button">
                                            <svg viewBox="0 0 20 19" class="Icon Login-socialIcon Icon--wechat" width="18" height="17" aria-hidden="true" style="height: 17px; width: 18px;"><title></title><g><path fill-rule="evenodd" d="M.224 18.667s4.24-1.825 4.788-2.056C13.03 20.14 20 14.715 20 8.9 20 3.984 15.523 0 10 0S0 3.984 0 8.898c0 1.86.64 3.585 1.737 5.013-.274.834-1.513 4.757-1.513 4.757zM6.167 8.96c.69 0 1.25-.57 1.25-1.27 0-.703-.56-1.272-1.25-1.272s-1.25.57-1.25 1.27c0 .703.56 1.272 1.25 1.272zm7.583 0c.69 0 1.25-.57 1.25-1.27 0-.703-.56-1.272-1.25-1.272s-1.25.57-1.25 1.27c0 .703.56 1.272 1.25 1.272z"></path></g></svg>
                                        </button>
                                        <!--weibo-->
                                        <button class="Button Login-socialButton Button--plain" type="button">
                                            <svg viewBox="0 0 22 18" class="Icon Login-socialIcon Icon--weibo" width="20" height="16" aria-hidden="true" style="height: 16px; width: 20px;"><title></title><g><g fill-rule="evenodd">     <path d="M14.518.06s-.87.644.03 1.71c0 0 6.287-1.19 5.69 6.33 0 0 1.05 1.13 1.674-.31 0 .002 1.44-8.584-7.394-7.73zM4.883 13.17s.038 2.584 3.326 2.584c3.657 0 3.683-2.98 3.683-2.98S12.1 9.67 8.687 9.61c-3.863-.07-3.804 3.56-3.804 3.56zM7.41 14.21c-.668 0-1.214-.447-1.214-.998 0-.55.543-.998 1.215-.998.67 0 1.213.447 1.213.998 0 .55-.54.998-1.212.998z"></path>     <path d="M4.317 4.52C-2.603 10.353.873 14.85.873 14.85c.57 1.01 3.382 3.1 8.596 3.1 5.21 0 9.314-3.628 9.314-6.44 0-2.813-2.918-2.714-2.918-2.714 1.04-1.554.19-2.65.19-2.65-1.684-2.118-5.404-.16-5.407-.158.772-1.717.11-2.797.11-2.797C8.932.66 4.317 4.52 4.317 4.52zm10.448 7.79s-.467 4.16-6.447 4.16c-5.745 0-5.82-3.322-5.842-3.712 0 0-.073-4.423 6.58-4.654 5.94-.204 5.71 4.207 5.71 4.207zM18.65 7.045s1.018-4.37-3.864-3.818c0 0-.628.58.09 1.346 0 0 2.602-.58 2.397 2.598 0 0 .715.885 1.376-.125z"></path>   </g></g></svg>
                                        </button>
                                        <!--QQ-->
                                        <button class="Button Login-socialButton Button--plain" type="button">
                                            <svg width="17" height="19" viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg" class="Icon Login-socialIcon Icon--qq" aria-hidden="true" style="height: 19px; width: 17px;"><title></title><g><title>QQ</title><path d="M9.003 0c-2.265 0-6.29 1.364-6.29 7.325V8.52S.55 12.96.55 15.474c0 .665.17 1.025.28 1.025.115 0 .903-.485 1.75-2.073 0 0-.18 2.197 1.903 3.967 0 0-1.77.495-1.77 1.182 0 .686 4.078.43 6.29 0 2.24.425 6.287.687 6.287 0 0-.688-1.768-1.182-1.768-1.182 2.085-1.77 1.905-3.967 1.905-3.967.845 1.588 1.634 2.072 1.746 2.072.11 0 .283-.36.283-1.026 0-2.514-2.166-6.954-2.166-6.954V7.325C15.29 1.365 11.268 0 9.003 0z" fill-rule="evenodd"></path></g></svg>
                                        </button>
                                    </span>

                                </span>
                            </div>

                        </div>
                        <div class="SignContainer-switch" data-reactid="91">
                            没有账号?
                            <span data-reactid="93" id="registbtn">注册</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">

        $(function () {
            $("#usernameerrormask").hide();
            $("#passworderrormask").hide();

        });


        $('.Login-socialButton').click(function () {

            var svg = $(this).children();
            var classname = svg[0].className.baseVal;
            if (classname.indexOf('Icon--wechat') >= 0) {
                console.log('wechat');
            }
            else if (classname.indexOf('Icon--weibo') >= 0) {
                console.log('weibo');
            }
            else if (classname.indexOf('Icon--qq') >= 0) {
                console.log('QQ');
            }

        });

        $('.Login-socialButton').hover(function () {
            var svg = $(this).children();
            $(svg[0]).css("fill", "#77839c");
            }, function () {
            var svg = $(this).children();
            $(svg[0]).css("fill", "#8590a6");
        });



        $('#usernameerrormask').click(function () {
            $('#usernameerrormask').hide(300);
            $('#usernameinput').click();
        });

        $('#usernameinput').blur(function () {
            var inputtext = $('#usernameinput').val();
            if (inputtext == null || inputtext == "" || inputtext == undefined) {
                $('#usernameerrormask').html('请输入登录信息');
                $('#usernameerrormask').show(300);
            }
        });

        $('#passworderrormask').click(function () {
            $('#passworderrormask').hide(300);
            $('#passwordinput').click();
        });

        $('#passwordinput').blur(function () {
            var inputtext = $('#passwordinput').val();
            if (inputtext == null || inputtext == "" || inputtext == undefined) {
                $('#passworderrormask').html('请输入密码');
                $('#passworderrormask').show(300);
            }
        });

        $('#registbtn').click(function () {
             window.location = '@Url.Action("Regist","Account")';
        });

        $('#forgetbtn').click(function () {
            window.open('@Url.Action("Forget","Account")', '_blank');
        });

        $('#socialbtn').click(function () {

            $('#socialbtn').addClass('Login-socialButtonEntrance--hidden');
            $('#socialgroup').removeClass('Login-socialButtonGroup--hidden');
        });


        $('#loginbtn').click(function () {
            var username = $('#usernameinput').val();
            if (username == null || username == "" || username == undefined) {
                $('#usernameerrormask').show(300);
                return;
            }
            var password = $('#passwordinput').val();
            if (password == null || password == "" || password == undefined) {
                $('#passworderrormask').show(300);
                return;
            }
            var loginaccount = {};
            loginaccount.LoginUsername = username;
            loginaccount.LoginSecurity = password;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("LoginRequest","Account")',
                data: { account : loginaccount },
                success: function (result) {
                    if (!result.Status) {
                        if (result.StatusCode.indexOf('LG10') != -1) {
                            $('#usernameerrormask').html(result.Message);
                            $('#usernameerrormask').show(300);
                        }
                        if (result.StatusCode.indexOf('LG11') != -1) {
                            $('#passworderrormask').html(result.Message);
                            $('#passworderrormask').show(300);
                        }
                        if (result.StatusCode.indexOf('LG000') != -1) {
                            $('#passwordinput').val("");
                            $('#passworderrormask').html(result.Message);
                            $('#usernameerrormask').hide(300);
                            $('#passworderrormask').show(300);
                        }
                    }
                    else {
                        window.location = '@Url.Action("Index","Home")';
                    }
                },
                error: function (error) {
                    alert("Ajax send error");
                }
            });
        });

    </script>
</body>
</html>
