
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重置密码 - 哪儿吃</title>
    <link href="~/Themes/Style/AccountForget.css" rel="stylesheet" />
</head>
<body class="EntrySign-body">

    <main class="App-main">
        <div class="Step" data-reactid="40">
            <div class="Step-inner PasswordReset" data-reactid="41">
                <div class="StepHeader" data-reactid="43">
                    <h1 class="StepHeader-title">设置新密码</h1>
                    <h2 class="StepHeader-subtitle">新密码应不少于 8 位，且不可与之前设置过的密码重复。</h2>
                </div>
                <div class="SignFlow-password">
                    <div class="SignFlowInput">
                        <div class="Input-wrapper">
                            <input id="password" class="Input" value="" name="password" placeholder="新密码" type="password" />
                        </div>
                        <div id="passwordmask" class="SignFlowInput-errorMask SignFlow-requiredPasswordErrorMask SignFlow-passwordErrorMask SignFlowInput-errorMask">

                        </div>
                    </div>
                </div>

                <div class="SignFlow-password">
                    <div class="SignFlowInput">
                        <div class="Input-wrapper">
                            <input id="repassword" class="Input" value="" name="repeatPassword" placeholder="再次输入密码" type="password" />
                        </div>
                        <div id="repasswordmask" class="SignFlowInput-errorMask SignFlow-requiredPasswordErrorMask SignFlow-passwordErrorMask SignFlowInput-errorMask">

                        </div>
                    </div>
                </div>

                <button id="btnreset" class="Button PasswordReset-nextStep Button--primary Button--blue" type="submit"><!-- react-text: 267 -->重置密码<!-- /react-text --></button>

            </div>
        </div>
    </main>

    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">

        $(function () {
            $('#passwordmask').hide();
            $('#repasswordmask').hide();

        });
        $('#password').blur(function () {
            var password = $('#password').val();
            if (password == null || password == "" || password == undefined) {
                $('#passwordmask').html("请输入密码");
                $('#passwordmask').show(300);
                return false;
            }
            else {
                if (password.length < 8) {
                    $('#passwordmask').html("密码应不少于 8 位");
                    $('#passwordmask').show(300);
                    return false;
                }
            }
        });

        $('#repassword').blur(function () {
            var repassword = $('#repassword').val();
            if (repassword == null || repassword == "" || repassword == undefined) {
                $('#repasswordmask').html("请再次输入密码");
                $('#repasswordmask').show(300);
                return false;
            }
            else {
                var password = $('#password').val();
                if (repassword != password) {
                    $('#repasswordmask').html("两次输入的密码不匹配");
                    $('#repasswordmask').show(300);
                    return false;
                }

            }
        });

        $('#passwordmask').click(function () {
            $('#passwordmask').hide(300);
            $('#password').click();
        });
        $('#repasswordmask').click(function () {
            $('#repasswordmask').hide(300);
            $('#repassword').click();
        });


        $('#btnreset').click(function () {
            var password = $('#password').val();
            if (password == null || password == "" || password == undefined) {
                $('#passwordmask').html("请输入密码");
                $('#passwordmask').show(300);
                return false;
            }
            var repassword = $('#repassword').val();
            if (repassword == null || repassword == "" || repassword == undefined) {
                $('#repasswordmask').html("请再次输入密码");
                $('#repasswordmask').show(300);
                return false;
            }

            if (password != repassword) {
                $('#repasswordmask').html("两次输入的密码不匹配");
                $('#repasswordmask').show(300);
                return false;
            }

            var mail = '@ViewBag.Account';
            if (mail == null || mail == "" || mail == undefined) {
                $('#passwordmask').html("请根据正常流程进行修改密码");
                $('#passwordmask').show(300);
                return false;
            }



            //发送请求修改密码
            $.ajax({
             type: "POST",
             dataType: "json",
             url: '@Url.Action("ResetPassword", "Account")',
             data: {
                 mail: mail,
                 code: password
             },
             success: function (result) {
                 if (result.Status) {
                     window.location = '@Url.Action("Login", "Account")';
                 }
                 else {
                     $('#passwordmask').html(result.Message);
                     $('#passwordmask').show(300);
                     return;
                 }
             },
             error: function (error) {
                 alert("Ajax send error");
             }
            });
        });

    </script>

</body>
</html>