
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget -EearlySite</title>
    <link href="~/Themes/Style/AccountForget.css" rel="stylesheet" />
</head>
<body class="EntrySign-body">

    <main class="App-main">
        <div class="Step" data-reactid="40">
            <div class="Step-inner PasswordReset" data-reactid="41">
                <div class="StepHeader" data-reactid="43">
                    <h1 class="StepHeader-title">设置新密码</h1>
                    <h2 class="StepHeader-subtitle">新密码应不少于 8 位，且不可与之前设置过的密码重复。</h2>
                </div>
                <div class="SignFlow-password">
                    <div class="SignFlowInput">
                        <div class="Input-wrapper">
                            <input class="input" value="" name="password" placeholder="新密码" type="password" />
                        </div>
                        <div class="SignFlowInput-errorMask SignFlow-requiredPasswordErrorMask SignFlow-passwordErrorMask SignFlowInput-errorMask">
                            请输入密码
                        </div>
                    </div>
                </div>

                <div class="SignFlow-password">
                    <div class="SignFlowInput">
                        <div class="Input-wrapper">
                            <input class="input" value="" name="repeatPassword" placeholder="再次输入密码" type="password" />
                        </div>
                        <div class="SignFlowInput-errorMask SignFlow-requiredPasswordErrorMask SignFlow-passwordErrorMask SignFlowInput-errorMask">
                            请输入密码
                        </div>
                    </div>
                </div>

                <button id="btnreset" class="Button PasswordReset-nextStep Button--primary Button--blue" type="submit"><!-- react-text: 267 -->重置密码<!-- /react-text --></button>

            </div>
        </div>
    </main>

    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">


        var step = 0;
        var mailsend = 30;
        var mailsendinterval;

        $(function () {
            $('#usernamemask').hide();
            $('#captchamask').hide();
            $('#captchainput').hide();

        });
        $('#username').blur(function () {
            var mailinfo = $('#username').val();
            if (mailinfo == null || mailinfo == "" || mailinfo == undefined) {
                $('#usernamemask').html("请输入邮箱信息");
                $('#usernamemask').show(300);
                return false;
            }
            else {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("CheckMail", "Account")',
                    data: { mail: mailinfo },
                    success: function (result) {
                        if (result.Status) {
                            $('#usernamemask').html('该邮箱尚未注册');
                            $('#usernamemask').show(300);
                            return false;
                        }
                        else {
                            $('#usernamemask').hide();
                        }
                    },
                    error: function (error) {
                        alert("Ajax send error");
                    }
                });
            }
        });
        $('#usernamemask').click(function () {
            $('#usernamemask').hide(300);
            $('#username').click();
        });
        $('#captchamask').click(function () {
            $('#captchamask').hide(300);
        });

        $('#btnSmsSend').click(function () {

            if (mailsend <= 0 && step == 0) {
                mailsend = 30;
                //验证邮箱
                var username = $('#username').val();
                if (username == null || username == "" || username == undefined) {
                    $('#usernamemask').html('请输入你要找回的注册邮箱');
                    $('#usernamemask').show(300);
                    return;
                }
                else {
                    submitForget(username);
                }
            }
        });


        $('#btnnext').click(function () {

            if (step == 0) {
                //验证邮箱
                var username = $('#username').val();
                if (username == null || username == "" || username == undefined) {
                    $('#usernamemask').html('请输入你要找回的注册邮箱');
                    $('#usernamemask').show(300);
                    return;
                }
                else {
                    //检查是否注册
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("CheckMail", "Account")',
                        data: { mail: username },
                        success: function (result) {
                            if (result.Status) {
                                $('#usernamemask').html('该邮箱尚未注册');
                                $('#usernamemask').show(300);
                                return false;
                            }
                            else {
                                $('#usernamemask').hide();
                                submitForget(username);
                                step += 1;
                            }
                        },
                        error: function (error) {
                            alert("Ajax send error");
                        }
                    });
                }

            }
            else if (step == 1) {
                //验证验证码
                var smsvalue = $('#smsvalue').val();
                if (smsvalue == null || smsvalue == "" || smsvalue == undefined) {
                    $('#captchamask').html('验证码错误');
                    $('#captchamask').show(300);

                    return;
                }

            }
        });

        /**
         * 提交忘记密码 发送验证码
         */
        function submitForget(mail) {
            //发送邮件
            $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("ForgetSubmit", "Account")',
                        data: { mail: mail },
                        success: function (result) {
                            if (result.Status) {

                                $('#captchainput').show();
                                $('#username').attr("readonly", "true");
                                $('#username').css("color", "#8590a6");
                                $('#btnSmsSend').addClass('is-counting');
                                $('#btnSmsSend').html(mailsend + "秒后重新发送验证码");
                                mailsendinterval = setInterval(caculateMailSend, 1000);
                            }
                        },
                        error: function (error) {
                            alert("Ajax send error");
                 }
             });
        }

        /**
         *计算邮件发送间隔
         */
        function caculateMailSend() {
            $('#btnSmsSend').html(mailsend + "秒后重新发送验证码");
            mailsend -= 1;
            if (mailsend <= 0) {
                clearInterval(mailsendinterval);
                $('#btnSmsSend').removeClass('is-counting');
                $('#btnSmsSend').html('重新获取邮箱验证码');
            }
        }


    </script>

</body>
</html>