@using EarlySite.Model.Show
@{Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Test -EearlySite</title>
    @Styles.Render("~/Themes/Style")
</head>
<body class="body-content">

    <div class="row">
        <h2>测试操作</h2>
        <button id="store" class="Button" type="button">创建门店</button>
        <button id="recipes" class="Button" type="button">创建食谱</button>
        <button id="share" class="Button" type="button">分享单品</button>
        <button id="collect" class="Button" type="button">收藏单品</button>
        <button id="generation" class="Button" type="button">生成编号</button>

    </div>

    <div class="row">
        <h2>门店列表</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>门店编号</th>
                        <th>门店名称</th>
                        <th>经纬度</th>
                        <th>最后更新时间</th>
                        <th>描述</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1804114628</th>
                        <td>成都人民南路四段门店</td>
                        <td>104.073773,30.638901</td>
                        <td>2018-04-12 10:43:38</td>
                        <td>测试门店</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous" id="btnprevious"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>
                    <li class="next" id="btnnext"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <h2>食谱列表列表</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>门店编号</th>
                        <th>门店名称</th>
                        <th>经纬度</th>
                        <th>最后更新时间</th>
                        <th>描述</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>门店编号</td>
                        <td>门店名称</td>
                        <td>经纬度</td>
                        <td>最后更新时间</td>
                        <td>描述</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">
        var page = 1;
            $(function () {

                //分享食物
                $('#share').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("ShareDish", "Test")',
                        data: {
                            shopId:1804114628,
                            recipesId:1804111753
                        },
                        success: function (result) {
                            console.log('-------------食物分享信息-----------')
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });

                //创建门店
                $('#store').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("AddStore", "Test")',
                        data: {  },
                        success: function (result) {
                            console.log('-------------门店信息-----------')
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });

                //创建食谱
                $('#recipes').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("AddRecipes", "Test")',
                        data: {  },
                        success: function (result) {

                            console.log('-------------食谱信息-----------');
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });

                //生成编码
                $('#generation').click(function () {

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("GenerationId", "Test")',
                        data: {  },
                        success: function (result) {

                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });
                });

                $('#btnprevious').click(function () {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("GetShopPageList", "Test")',
                        data: { pageindex:page },
                        success: function (result) {

                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });
                });

                $('#btnnext').click(function () {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("GetShopPageList", "Test")',
                        data: { pageindex:page+1 },
                        success: function (result) {

                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });
                });
            });


    </script>


</body>



</html>
