@using EarlySite.Model.Show
@{Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Test -EearlySite</title>
    @Styles.Render("~/Themes/Style")
</head>
<body class="body-content">
    
    <div class="row">

        <button id="store" class="Button" type="button">创建门店</button>
        <button id="recipes" class="Button" type="button">创建食谱</button>
        <button id="share" class="Button" type="button">分享单品</button>
        <button id="collect" class="Button" type="button">收藏单品</button>
        <button id="generation" class="Button" type="button">生成编号</button>

    </div>
    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">

            $(function () {

                //分享食物
                $('#share').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("ShareDish", "Test")',
                        data: {
                            shopId:1804114628,
                            recipesId:1804111753
                        },
                        success: function (result) {
                            console.log('-------------食物分享信息-----------')
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });

                //创建门店
                $('#store').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("AddStore", "Test")',
                        data: {  },
                        success: function (result) {
                            console.log('-------------门店信息-----------')
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });

                //创建食谱
                $('#recipes').click(function () {
                   $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("AddRecipes", "Test")',
                        data: {  },
                        success: function (result) {

                            console.log('-------------食谱信息-----------');
                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });

                });


                $('#generation').click(function () {

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("GenerationId", "Test")',
                        data: {  },
                        success: function (result) {

                            console.log(result);
                        },
                        error: function (error) {
                            console.log('ajax send error:' + error);
                        }
                    });
                });
            });


    </script>


</body>



</html>
