@using EarlySite.Model.Show;
@using EarlySite.Model.Common;
@model Dish
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container corner">
    <div class="row">
        <div class="mod_data">
            <span class="data__cover">
                <img id="recipeImg" class="data__photo" src="data:image/png;base64,@Model.Image" />
                <i class="data__cover_mask"></i>
            </span>
            <div class="data__cont">
                <div class="data__name">
                    <h1 class="data__name_txt" title="@Model.Name">@Model.Name</h1>
                </div>
                <div class="data__singer">
                    <i class="icon_singer sprite"></i>
                    <a class="data__singer_txt" href="@(Url.Action("ShopView","Explore")+"?shopId="+Model.ShopId)">@Model.ShopName</a>
                </div>
                <ul class="data__info">
                    <li class="data_info__item">创建时间:@Model.UpdateDate.ToString("yyyy-MM-dd")</li>
                    <li class="data_info__item data_info__item--even">描述:@Model.Description</li>
                    <li class="data_info__item">是否公开:</li>
                    <li class="data_info__item data_info__item--even">标签:</li>
                </ul>
                <div class="data__actions" role="toolbar">
                    <!--删除 操作-->
                    <a class="mod_btn" href="">
                        <i class="mod_btn__icon_delete"></i>
                        删除
                    </a>
                    <!--收藏操作-->
                    <a class="mod_btn mod_btn_red" href="javascript:toast('コレクション')">
                        <i class="mod_btn_green__icon_like"></i>
                        コレクション(收藏)
                    </a>
                </div>
            </div>
        </div>
        <div class="detail_layout">
            @{
                IList<Dish> dishlist = (IList<Dish>)ViewBag.DishList;

                if (dishlist != null && dishlist.Count > 0)
                {
                    <div class="detail_layout__main">
                        <div class="mod_dishlist">
                            <ul class="dishlist__header">
                                <li class="dishlist__header_name">单品名称</li>
                                <li class="dishlist__header_shopname">店铺名称</li>
                                <li class="dishlist__header_price">单品价格</li>
                                <li class="dishlist__header_type">单品类型</li>
                                <li class="dishlist__header_meal">用餐时间</li>
                                <li class="dishlist__header_other"> </li>
                            </ul>
                            <ul class="dishlist__list">
                                @{
                                    for (int i = 0; i < dishlist.Count; i++)
                                    {
                                        var dishurl = Url.Action("DishView", "Explore") + "?dishId=" + dishlist[i].DishId;
                                        var shopurl = Url.Action("ShopView", "Explore") + "?shopId=" + dishlist[i].ShopId;
                                        <li>
                                            <div class="dishlist__item">
                                                <div class="dishlist__number">@(i + 1)</div>
                                                <div class="dishlist__name"><a href="@dishurl">@dishlist[i].Name</a></div>
                                                <div class="dishlist__shopname"><a href="@shopurl">@dishlist[i].ShopName</a></div>
                                                <div class="dishlist__price">$@dishlist[i].Price.ToString("0.00")</div>
                                                <div class="dishlist__type">@dishlist[i].TypeName</div>
                                                <div class="dishlist__meal">@dishlist[i].MealTimeName</div>
                                                <div class="dishlist__other"></div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }

            <div class="detail_layout__other">
                <div class="other_part">
                    <h3 class="other_part__tit">包含此单品的热门食谱</h3>
                    <div class="mod_dishlist">
                        @{
                            IList<Recipes> recipesList = (IList<Recipes>)ViewBag.Recipes;

                            if (recipesList != null && recipesList.Count > 0)
                            {
                                <ul class="dishlist__list">
                                    @foreach (Recipes item in recipesList)
                                    {
                                        var recpisurl = string.Format("{0}?recipeId={1}", Url.Action("RecipeView", "Explore"), item.RecipesId);

                                        <li class="dishlist__item">
                                            <div class="dishlist__item_box">
                                                <div class="dishlist__cover">
                                                    <a class="js_dishlist" href="@recpisurl">
                                                        <img class="dishlist__pic" src="data:image/png;base64,@item.Cover" alt="...">
                                                    </a>
                                                </div>
                                                <h4 class="dishlist__title">
                                                    <span class="dishlist__title_txt">
                                                        <a href="@recpisurl">@item.Name</a>
                                                    </span>
                                                </h4>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>