@using EarlySite.Model.Common;
@using EarlySite.Model.Enum;
@using EarlySite.Model.Show;

@model IList<Shop>

@{
    if (Model != null && Model.Count > 0)
    {
        foreach (Shop shopitem in Model)
        {
            <div class="row ShopBoxItem">
                <div class="col-sm-4">
                    <div class="shopInfoBox" id="shopbox_@shopitem.ShopId" data-shopId="@shopitem.ShopId">
                        <h4>@shopitem.ShopName</h4>
                        <div class="shopInfoBox-title">店铺地址</div>
                        <div class="shopInfoBox-content">@(string.IsNullOrEmpty(shopitem.ShopAddress) ? "暂无详细地址信息" : shopitem.ShopAddress)</div>
                        <div class="shopInfoBox-title">店铺描述</div>
                        <div class="shopInfoBox-des" title="@shopitem.Description">@shopitem.Description</div>
                    </div>

                </div>
                <div class="col-sm-8">
                    <ul class="shopboxlist" id="shopboxul_@shopitem.ShopId" data-shopId="@shopitem.ShopId">
                        <!--loading-->
                        <svg width="30%" height="30%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" stroke-linecap="round" r="40" stroke-width="4" stroke="#ff727d" stroke-dasharray="62.83185307179586 62.83185307179586"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
                    </ul>
                </div>
            </div>
        }
    }
}




<div class="ShopBoxBottom">
</div>

<script type="text/javascript">

    $(function () {


        var worker = new Worker("@Url.Content("~/Themes/Scripts/lazywork.js")");

        worker.onmessage = function (event) {
            setshopitem(event.data);
        }

        $('.shopboxlist').each(function () {
            var id = $(this).attr("data-shopId");
            worker.postMessage(id);

            console.log("发送信息" + id);
        });


    });


    function setshopitem(shopboxid) {

            $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("ShopPopDish", "Explore")',
                    data: {
                        shopId: shopboxid
                    },
                    success: function (result) {
                        console.log(result);
                        //var data = eval('('+result+')');
                        //console.log(data);
                        var shopbox = $("#shopboxul_" + shopboxid);
                        var htmlstr = "";
                        if (result.Status && result.Data.length > 0) {
                            for (var i = 0; i < result.Data.length; i++) {
                                htmlstr += '<li class="shopboxlist-item"><div class="shopboxlist-item_box">' +
                                    '<div class="shopboxlist-cover">' +
                                    '<a class="shopboxlist-a" href="javascript:alert(1)">' +
                                    '<img class="shopboxlist-pic" src="data:image/png;base64,' + result.Data[i].Image + '"/ alt="">' +
                                    '</a></div><div class="boxlist-title"><span class="boxlist-title-txt">' +
                                    '<a class="boxlist-a" href="javascript:alert(1)" title="">' + result.Data[i].Name + '</a>' +
                                    '</span></div><div class="shopboxlist-other">' + result.Data[i].TypeName + '</div>' +
                                    '<div class="shopboxlist-other">￥' + result.Data[i].Price + '</div></div></li>';
                            }
                        }
                        else {
                            htmlstr += '<li class="shopboxlist-item"><div class="shopboxlist-item_box">' +
                                '<div class="shopboxlist-cover">' +
                                '<div class="boxlist-title"><span class="boxlist-title-txt">暂无热门单品</span></div>' +
                                '</div></div></li >';
                        }

                        $(shopbox).html(htmlstr);
                    },
                    error: function (error) {
                        $(this).EaLoading("destroy");
                        toast("Ajax send error");
                        console.log(error);
                    }
            });
    }

</script>
